{% extends 'base.html' %}

{% block title %}Dato Agregado{% endblock %}

{% block content %}

<div class="container">
<div class="col-lg-offset-3 col-lg-12">
    <h2 style="margin-left: 30px">Dato Agregado</h2>
    <hr/>
    <div class="col-lg-offset-1 btn-group-vertical">
        <a href="{{ request.args.get('next') }}" class="btn btn-md btn-primary">Volver a Formulario</a>
        <br>
        <a href="{{ url_for('formularios') }}" class="btn btn-md btn-primary">Ir a Formularios</a>
        <br>
        <a href="{{ url_for('mapa') }}" class="btn btn-md btn-primary">Ver en Mapa</a>
    </div>
</div>
</div>
{% endblock %}