{% extends 'base.html' %}

{% block title %}Formularios{% endblock %}

{% block content %}

<div class="col-lg-offset-0 col-lg-12">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <h2 class="col-lg-offset-1">Elija formulario</h2>
    <hr/>
    <a href="{{ url_for('formulario1') }}" ><h3 class="col-lg-offset-1">Formulario 1</h3></a>
    <a href="{{ url_for('tabla') }}" ><h3 class="col-lg-offset-1">Tabla</h3></a>
</div>

{% endblock %}