{% extends 'base.html' %}

{% block title %}Formulario 1{% endblock %}

{% block content %}

<div class="col-lg-offset-0 col-lg-12">

    {% if error %}
    <div class="error text-danger">{{ error }}</div>
    {% endif %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <a href="{{ url_for('formularios') }}"><h4>Volver a Opciones</h4></a>

    {% from '_formhelpers.html' import render_field %}

    <form class="form-signin" method="post" action="{{ url_for('formulario1') }}" role="form">
        <hr/>
        <hr/>
        <hr/>
        <h3>Formulario 1</h3>
        <hr/>


        <input type="hidden" id="calles" name="variable" value="{{ calles }}">

        {{ form.hidden_tag() }}

        {{ render_field(form.vehiculo1, class='form-control') }}
        {{ render_field(form.vehiculo2, class='form-control') }}
        {{ render_field(form.causa, class='form-control') }}
        {{ render_field(form.heridos, class='form-control') }}
        {{ render_field(form.obitos, class='form-control') }}
        {{ render_field(form.observaciones, class='form-control') }}
        {{ render_field(form.calle1, id='calle1', class='form-control') }}
        {{ render_field(form.calle2, id='calle2', class='form-control') }}
        {{ render_field(form.altura, class='form-control') }}
        {{ render_field(form.lat, id='Lat', class='form-control', readonly='true') }}
        {{ render_field(form.long, id='Long', class='form-control', readonly='true') }}
        {{ render_field(form.precision, id='Precision', class='form-control', readonly='true') }}
        <hr/>
        <button onclick="stopGps()" class="btn btn-lg btn-primary btn-block" type="submit">Enviar</button>
    </form>
    <hr/>
    <button class="btn btn-lg btn-success btn-block form-signin" onclick="getLocation()">Geo</button>
    <hr/>
    <a href="{{ url_for('formulario1') }}"><button class="btn btn-lg btn-danger btn-block form-signin">Reset</button></a>



</div>


{% endblock %}